<section id="content" ng-controller="adminsController">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Nuevo<small>Crear un nuevo administrador.</small></h2>
            </div>
            <div class="card-body">
                <form role="form">
                    <div class="form-group fg-line">
                        <label for="username">Nombre de administrador</label>
                        <input class="form-control input-sm" placeholder="Nombre de usuario" id="username"/>
                    </div>
                    <div class="form-group fg-line">
                        <label for="email">Email</label>
                        <input class="form-control" placeholder="Email" type="email" id="email"/>
                    </div>
                    <div class="toggle-switch" data-ts-color="blue">
                        <label for="super">Super Administrador</label>
                        <input type="checkbox" checked hidden="hidden" id="super"/>
                        <label for="super" class="ts-helper"></label>
                    </div>
                    <br/>
                    <button class="btn btn-primary btn-lg waves-effect right" ng-click="newAdmin()">Nuevo</button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>Administradores<small>Click en el icono del lapiz para editar.</small></h2>
                <br/>
                <button class="btn btn-primary btn-lg waves-effect" ng-click="newAdmin()">Nuevo</button>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table ng-table="tctrl.tableEdit" class="table table-striped table-vmiddle">
                        <tr ng-repeat="w in $data"  ng-class="{ 'active': w.$edit }">
                            <td data-title="'#'">
                                <span ng-if="!w.$edit">{{ w.id }}</span>
                                <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.id" /></div>
                            </td>
                            <td data-title="'Usuario'">
                                <span ng-if="!w.$edit">{{ w.name }}</span>
                                <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.name" /></div>
                            </td>
                            <td data-title="'Email'">
                                <span ng-if="!w.$edit">{{ w.email }}</span>
                                <div ng-if="w.$edit"><input class="form-control" type="email" ng-model="w.email" /></div>
                            </td>
                            <td data-title="'Role'">
                                <span ng-if="!w.$edit">{{ w.username }}</span>
                                <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.username" /></div>
                            </td>
                            <td data-title="'Estado'">
                                <span ng-if="!w.$edit">{{ w.contact }}</span>
                                <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.contact" /></div>
                            </td>
                            <td data-title="'Acciones'">
                                <button type="button" class="btn btn-default" ng-if="!w.$edit" ng-click="w.$edit = true"><i class="zmdi zmdi-edit"></i></button>
                                <button type="button" class="btn btn-success" ng-if="w.$edit" ng-click="w.$edit = false"><i class="zmdi zmdi-check"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>



    </div>
</section>