<div class="container" ng-controller="profileController">
    <div class="block-header">
        <h2>{{user.username}} <small ng-if="user.profile.fullName">{{user.profile.fullName}}</small></h2>
    </div>
    <div class="card" id="profile-main">
        <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <a href="">
                        <img ng-if="user.profile.photo" class="img-responsive" ng-src="{{user.profile.photo}}" alt="" />
                        <img ng-if="!user.profile.photo" class="img-responsive"
                             ng-src="/img/profile-pics/profile-placeholder.gif" alt="" />
                    </a>
                    <div class="dropdown pmop-message" uib-dropdown ng-if="!editable">
                        <button uib-dropdown-toggle class="btn bgm-white btn-float">
                            <i class="zmdi zmdi-comment-text-alt"></i>
                        </button>

                        <div class="dropdown-menu stop-propagate">
                            <textarea placeholder="Escribe algo..."></textarea>

                            <button class="btn bgm-green btn-float"><i class="zmdi zmdi-mail-send"></i></button>
                        </div>
                    </div>
                    <a href="" class="pmop-edit">
                        <i class="zmdi zmdi-camera"></i> <span class="hidden-xs">Cambiar foto de perfil</span>
                    </a>
                </div>
                <div class="pmo-stat">
                    <h2 class="m-0 c-white" ng-if="user.role == 'root'">Master</h2>
                    <h2 class="m-0 c-white" ng-if="user.role == 'sadmin'">Super Admin</h2>
                    <h2 class="m-0 c-white" ng-if="user.role == 'sdmin'">Admin</h2>
                    <h2 class="m-0 c-white" ng-if="user.role == 'user'">Usuario</h2>
                    {{user.profile.fullName}}
                </div>
            </div>
            <div class="pmo-block pmo-contact hidden-xs">
                <h2>Contacto</h2>

                <ul>
                    <li><i class="zmdi zmdi-phone"></i> {{ user.profile.contact.phone }}</li>
                    <li><i class="zmdi zmdi-email"></i>
                        <a ng-if="user.profile.contact.email" href="mailto://{{user.profile.contact.email}}">
                            {{user.profile.contact.email}}
                        </a>
                    </li>
                    <li><i class="zmdi zmdi-facebook-box"></i>
                        <a ng-if="user.profile.contact.facebook" href="{{user.profile.contact.facebook}}">
                            {{user.profile.fullName}}
                        </a>
                    </li>
                    <li><i class="zmdi zmdi-twitter"></i>
                        <a ng-if="user.profile.contact.twitter" href="https://twitter.com/{{user.profile.contact.twitter}}">
                            {{ user.profile.contact.twitter }}
                        </a>
                    </li>
                    <li><i class="zmdi zmdi-phone"></i> {{ user.profile.contact.skype }}</li>
                </ul>
            </div>
        </div>
        <div class="pm-body clearfix">
            <div class="pmb-block" ng-if="editable">
                <div class="pmbb-header">
                    <h2> Contraseña</h2>
                    <div class="actions">
                        <a ng-click="activeEditPassword()"><i class="zmdi zmdi-edit"></i></a>
                    </div>
                </div>
                <div class="pmbb-body p-l-30">
                    <div class="pmbb-view" ng-if="!editPassword">
                        <h5><label class="blurry-text">{{user.password}}</label></h5>
                    </div>

                    <form class="pmbb-edit" ng-if="editPassword">
                        <div class="fg-line {{invalidPassword ? 'has-error' : ''}}">
                            <input ng-model="user.password" class="form-control"
                                   type="password" ng-value="user.password" ng-blur="validatePassword()" />
                            <input ng-model="user.rePassword" class="form-control" type="password"
                                   ng-value="user.rePassword" placeholder="Vuelva a ingresar la contraseña"
                                   ng-blur="validatePassword()"/>
                        </div>
                        <div class="m-t-10">
                            <button class="btn btn-primary btn-sm" ng-click="changePassword()">Guardar</button>
                            <button class="btn btn-link btn-sm" ng-click="cancelPassword()" >Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="pmb-block">
                <div class="pmbb-header">
                    <h2> Resumen</h2>
                    <div class="actions" ng-if="editable">
                        <a ng-click="activeEditSummary()"><i class="zmdi zmdi-edit"></i></a>
                    </div>
                </div>
                <div class="pmbb-body p-l-30">
                    <div class="pmbb-view" ng-if="!editSummary">
                        {{ user.profile.summary }}
                    </div>

                    <form class="pmbb-edit" ng-if="editSummary">
                        <div class="fg-line">
                            <textarea ng-model="user.profile.summary" class="form-control" rows="5" placeholder="Resumen...">
                                {{user.profile.summary}}
                            </textarea>
                        </div>
                        <div class="m-t-10">
                            <button class="btn btn-primary btn-sm" ng-click="changeSummary()">Guardar</button>
                            <button class="btn btn-link btn-sm" ng-click="cancelSummary()" >Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="pmb-block">
                <div class="pmbb-header">
                    <h2>Información Básica</h2>
                    <div class="actions" ng-if="editable">
                        <a ng-click="activeEditInfo()" href=""><i class="zmdi zmdi-edit"></i></a>
                    </div>
                </div>
                <div class="pmbb-body p-l-30">
                    <div class="pmbb-view" ng-if="!editInfo">
                        <dl class="dl-horizontal">
                            <dt>Nombre Completo</dt>
                            <dd>{{ user.profile.fullName }}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Género</dt>
                            <dd ng-if="user.profile.gender == 'male'">Hombre</dd>
                            <dd ng-if="user.profile.gender == 'female'">Mujer</dd>
                            <dd ng-if="user.profile.gender != 'female' && user.profile.gender != 'male'"
                                && user.profile.gender>{{user.profile.gender}}</dd>
                        </dl>
                    </div>

                    <form class="pmbb-edit" ng-if="editInfo">
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Nombre Completo</dt>
                            <dd>
                                <div class="fg-line">
                                    <input data-ng-model="user.profile.fullName" type="text" class="form-control"
                                           value="{{ user.profile.fullName }}" placeholder="ej. Aída Benito">
                                </div>

                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Género</dt>
                            <dd>
                                <div class="fg-line">
                                    <select class="form-control" data-ng-model="user.profile.gender">
                                        <option value="male">Hombre</option>
                                        <option value="female">Mujer</option>
                                        <option value="other">Otro</option>
                                    </select>
                                    <input data-ng-model="user.profile.gender" type="text" class="form-control"
                                           value="{{ user.profile.gender }}" placeholder="ej. Aída Benito"
                                            ng-if="user.profile.gender != 'male' && user.profile.gender != 'female'" />
                                </div>
                            </dd>
                        </dl>

                        <div class="m-t-30">
                            <button class="btn btn-primary btn-sm" ng-click="changeInfo()">Guardar</button>
                            <button class="btn btn-link btn-sm" ng-click="cancelInfo()">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="pmb-block">
                <div class="pmbb-header">
                    <h2> Informació de contacto</h2>
                    <div class="actions" ng-if="editable">
                        <a ng-click="activeEditContact()" href=""><i class="zmdi zmdi-edit"></i></a>
                    </div>
                </div>
                <div class="pmbb-body p-l-30">
                    <div class="pmbb-view" ng-if="!editContact">
                        <dl class="dl-horizontal">

                            <dt><i class="zmdi zmdi-phone m-r-5" /> Teléfono</dt>
                            <dd>{{ user.profile.contact.phone }}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt><i class="zmdi zmdi-email m-r-5" /> Email</dt>
                            <dd><a ng-if="user.profile.contact.email" href="mailto://{{user.profile.contact.email}}">
                                    {{user.profile.contact.email}}
                                </a></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt><i class="zmdi zmdi-twitter m-r-5" /> Twitter</dt>
                            <dd><a ng-if="user.profile.contact.twitter" href="https://twitter.com/{{user.profile.contact.twitter}}">
                                    {{ user.profile.contact.twitter }}
                                </a></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt><i class="zmdi zmdi-phone m-r-5" /> Skype</dt>
                            <dd>{{ user.profile.contact.skype }}</dd>
                        </dl>
                    </div>

                    <form class="pmbb-edit" ng-if="editContact">
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Teléfono</dt>
                            <dd>
                                <div class="fg-line">
                                    <input data-ng-model="user.profile.contact.phone" type="text" class="form-control"
                                           placeholder="eg. 15-6408-0807">
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Email</dt>
                            <dd>
                                <div class="fg-line {{invalidEmail ? 'has-error' : ''}}">
                                    <input data-ng-model="user.profile.contact.email" class="form-control"
                                           placeholder="eg. aida.h@gmail.com"
                                           ng-blur="validateEmail(user.profile.contact.email)">
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Twitter</dt>
                            <dd>
                                <div class="fg-line {{invalidTwitter ? 'has-error' : ''}}">
                                    <input data-ng-model="user.profile.contact.twitter" type="text" class="form-control"
                                           placeholder="eg. @aida" ng-blur="validateTwitter(user.profile.contact.twitter)">
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Skype</dt>
                            <dd>
                                <div class="fg-line">
                                    <input data-ng-model="user.profile.contact.skype" type="text" class="form-control"
                                           placeholder="eg. aida.benito">
                                </div>
                            </dd>
                        </dl>

                        <div class="m-t-30">
                            <button class="btn btn-primary btn-sm" ng-click="changeContact()">Guardar</button>
                            <button class="btn btn-link btn-sm" ng-click="cancelContact()" >Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>