//
   Created by boot on 2/21/16.
// Navigation
nav(class='navbar navbar-inverse navbar-fixed-top', data-role='navigation')
   // Brand and toggle get grouped for better mobile display
   div(class='navbar-header')
      button(type='button', class='navbar-toggle', data-toggle='collapse')
         span(class='sr-only') Toggle navigation
         span(class='icon-bar')
         span(class='icon-bar')
         span(class='icon-bar')
      a(class='navbar-brand', href='/') Shared Resource
   ul(class='nav navbar-right top-nav')
      li(class='dropdown')
         a(href='#', class='dropdown-toggle', data-toggle='dropdown')
            i(class='fa fa-envelope')
            b(class='caret')
         ul(class='dropdown-menu message-dropdown')
            li(class='message-preview')
               a(href='#')
                  div(class='media')
                     span(class='pull-left')
                        img(class='media-object', src='http://placehold.it/50x50', alt='')
                     div(class='media-body')
                        h5(class='media-heading')
                           strong John Smith
                        p(class='small text-muted') Yesterday at 4:32 PM
                           i(class='fa fa-clock-o')
                        p Lorem ipsum dolor sit amet, consectetur...
            li(class='message-preview')
               a(href='#')
                  div(class='media')
                     span(class='pull-left')
                        img(class='media-object', src='http://placehold.it/50x50', alt='')
                     div(class='media-body')
                        h5(class='media-heading')
                           strong John Smith
                        p(class='small text-muted') Yesterday at 4:32 PM
                           i(class='fa fa-clock-o')
                        p Lorem ipsum dolor sit amet, consectetur...
            li(class='message-preview')
               a(href='#')
                  div(class='media')
                     span(class='pull-left')
                        img(class='media-object', src='http://placehold.it/50x50', alt='')
                     div(class='media-body')
                        h5(class='media-heading')
                           strong John Smith
                        p(class='small text-muted') Yesterday at 4:32 PM
                           i(class='fa fa-clock-o')
                        p Lorem ipsum dolor sit amet, consectetur...
            li(class='message-footer')
               a(href='#') Read All New Messages
      li(class='dropdown')
         a(href='#', class='dropdown-toggle', data-toggle='dropdown')
            i(class='fa fa-bell')
            b(class='caret')
         ul(class='dropdown-menu alert-dropdown')
            li
               a(href='#') Alert Name
                  span(class='label label-default') Alert Badge
            li
               a(href='#') Alert Name
                  span(class='label label-primary') Alert Badge
            li
               a(href='#') Alert Name
                  span(class='label label-success') Alert Badge
            li
               a(href='#') Alert Name
                  span(class='label label-info') Alert Badge
            li
               a(href='#') Alert Name
                  span(class='label label-warning') Alert Badge
            li
               a(href='#') Alert Name
                  span(class='label label-danger') Alert Badge
            li(class='divider')
            li
               a(href='#') View All
      li(class='dropdown')
         a(href='#', class='dropdown-toggle', data-toggle='dropdown')
            i(class='fa fa-user')
            |&nbsp;John Smith&nbsp;
            b(class='caret')
         ul(class='dropdown-menu')
            li
               a(href='#')
                  i(class='fa fa-fw fa-user')
                  |&nbsp;Profile
            li
               a(href='#')
                  i(class='fa fa-fw fa-envelope')
                  |&nbsp;Inbox
            li
               a(href='#')
                  i(class='fa fa-fw fa-gear')
                  |&nbsp;Settings
            li(class='divider')
            li
               a(href='#')
                  i(class='fa fa-fw fa-power-off')
                  |&nbsp;Log Out
   div(class='collapse navbar-collapse navbar-ex1-collapse')
      ul(class='nav navbar-nav side-nav')
         li(class='active')
            a(href='/')
               i(class='fa fa-fw fa-dashboard')
               |&nbsp;Dashboard
         li
            a(href='/')
               i(class='fa fa-fw fa-bar-chart-o')
               |&nbsp;Charts