<!DOCTYPE html>
<html lang="en" ng-app="landingApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shared Resources</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-social.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Shared Resources</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">Que es?</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Servicios</a>
                </li>
                <li>
                    <a class="page-scroll" href="#login">Ingresar</a>
                </li>
                <li>
                    <a class="page-scroll" href="#register">Registrarme</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contactanos</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>RESERVÁ TUS ESPACIOS COMPARTIDOS</h1>
            <hr>
            <p>Shared Resources puede ayudarte a reservar más rápido y fácil tus espacios compartidos! Sólo necesitás registrarte!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Ver Más!</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Tenemos lo que necesitás!</h2>
                <hr class="light">
                <p class="text-faded">Shared Resources tiene todo los que necesitás para realizar las reservas de los espacios compartidos! Todas nuestras herramientas son fáciles de usar!</p>
                <a href="#login" class="btn btn-default btn-xl page-scroll">Comenzar!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nuestros servicios</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-building-o wow bounceIn text-primary"></i>
                    <h3>Shared Resources</h3>
                    <p class="text-muted">La primera aplicación en la nube para administrar espacios compartidos.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-share-alt wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Comparte</h3>
                    <p class="text-muted">Comparte los espacios de tu complejo!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Administra Usuarios</h3>
                    <p class="text-muted">Agregá usuarios permitiles realizar reservas.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-clock-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Gestiona Tiempos</h3>
                    <p class="text-muted">Define los horarios y gestiona los tiempos.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark" id="login">
    <div class="container text-center">
        <div class="call-to-action" ng-controller="loginController">
            <h2 class="section-heading">Ingresar</h2>
            <a class="btn btn-social btn-facebook btn-facebook-r form-control-r btn-lg">
                <span class="fa fa-facebook"></span> Ingresar con Facebook
            </a>
            <hr class="light">
            <h3 class="section-heading">Usar usuario y contraseña</h3>
            <form name="loginForm" ng-submit="login()">
                <div class="row row-centered">
                    <div class="col-lg-4 col-centered">
                        <div class="form-group-lg">
                            <input type="text" class="form-control" placeholder="Email o Usuario" id="username"
                                   required data-validation-required-message="Ingrese su email o usuario."
                                   aria-invalid="false" ng-model="user.username">
                            <p class="help-block">
                                <span ng-show="errors.user" class="has-error">Usuario o contraseña incorrectos.</span>
                            </p>
                        </div>
                        <div class="form-group-lg">
                            <input type="password" class="form-control" placeholder="Contraseña" id="password"
                                   required data-validation-required-message="Ingrese su contraseña."
                                   aria-invalid="false" ng-model="user.password">
                            <p class="help-block">
                                <span ng-show="errors.password" class="has-error">Usuario o contraseña incorrectos.</span>
                            </p>
                        </div>
                    </div>
                </div>
                <a class="btn btn-default btn-xl wow tada", ng-click="login()">Ingresar Ahora!</a>
            </form>

        </div>
    </div>
</aside>

<aside class="bg-primary" id="register">
    <div class="container text-center" ng-controller="registerController">
        <div class="container" ng-show="success">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Felicitaciones!</h2>
                    <hr class="light">
                    <p class="text-text-faded">Tu cuenta se ha creado con éxito. A continuación te estará llegando un email para activarla.</p>
                </div>
            </div>
        </div>
        <div class="call-to-action" ng-hide="success">
            <h2>Registrarme a la aplicación</h2>
            <hr class="light">
            <form name="registerForm" ng-submit="register()">
                <div class="row row-centered">
                        <div class="col-lg-4 col-centered">
                            <div class="form-group-lg">
                                <input type="text" class="form-control" placeholder="Nombre de Usuario" id="username"
                                       required data-validation-required-message="Ingrese su nombre de usuario."
                                       aria-invalid="false" ng-model="user.username">
                                <p class="help-block">
                                    <span ng-show="errors.username" class="has-error">El usuario es invalido.</span>
                                    <span ng-show="errors.user == 'invalid'" class="has-error">El usuario es invalido.</span>
                                    <span ng-show="errors.user == 'already_exist_user'" class="has-error">El usuario ya existe.</span>
                                </p>
                            </div>
                            <div class="form-group-lg">
                                <input type="password" class="form-control" placeholder="Contraseña" id="password"
                                       required data-validation-required-message="Ingrese su contraseña."
                                       aria-invalid="false" ng-model="user.password">
                                <p class="help-block">
                                    <span ng-show="errors.password" class="has-error">La contraseña es invalida.</span>
                                </p>
                            </div>
                            <div class="form-group-lg">
                                <input type="password" class="form-control" placeholder="Repita su Contraseña" id="rePassword"
                                       required data-validation-required-message="Re ingrese su contraseña."
                                       aria-invalid="false" ng-model="user.rePassword">
                                <p class="help-block">
                                    <span ng-show="errors.rePassword" class="has-error">Debe haber un error en la contraseña.</span>
                                </p>
                            </div>
                            <div class="form-group-lg">
                                <input type="email" class="form-control" placeholder="E-Mail" id="email"
                                       required data-validation-required-message="Ingrese su email."
                                       aria-invalid="false" ng-model="user.email" >
                                <p class="help-block">
                                    <span ng-show="errors.email" class="has-error">El email es invalido.</span>
                                </p>
                            </div>
                        </div>
                </div>
                <a class="btn btn-default btn-xl wow tada form-group-lg" ng-click="register()">Registrarme Ahora!</a>
            </form>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Quedemos en contacto!</h2>
                <hr class="primary">
                <p>Listo para comenzar con nosotros? Genial! Llámanos o envíanos un email y nosotros nos pondremos en contacto lo antes posible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>15-6408-0807</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">pasutmarcelo@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>

<!-- jQuery -->
<script src="js/libs/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/libs/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/libs/jquery.easing.min.js"></script>
<script src="js/libs/jquery.fittext.js"></script>
<script src="js/libs/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/libs/creative.js"></script>

<!-- Angular -->
<script src="js/libs/angular.min.js"></script>

<!-- App -->
<script src="js/landingServices.js"></script>
<script src="js/landingControllers.js"></script>
<script src="js/landingApp.js"></script>

</body>

</html>
