<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1>Main Title</h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <h3>Row</h3>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <h1>Main</h1>
</div>